<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Agregar</span>
            </div>
            <h1>Grupo</h1>
        </div>
        
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <div class="p-4 bg-card shadow rounded overflow-hidden">
                        <mat-horizontal-stepper [linear]="true"
                                                #horizontalStepper>
                            <mat-step [stepControl]="groupForm" #horizontalStepperStep1>

                                <ng-template matStepLabel>Información Grupo</ng-template>
                                <form [formGroup]="groupForm">

                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="title" [placeholder]="'Nombre'" >
                                            <mat-icon matPrefix
                                                    [svgIcon]="'bookmark'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <mat-select [placeholder]="'Compañia'" formControlName="company">
                                                <mat-option [value]="com" *ngFor="let com of companies">{{ com.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="treo-mat-textarea flex-auto">
                                            <textarea
                                                matInput
                                                [placeholder]="'Descripcion'"
                                                formControlName="description"
                                                [rows]="3"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-col mt-8 gt-sm:mt-4">
                                        <mat-label>Estado</mat-label>
                                        <mat-radio-group
                                            class="flex flex-col mt-2"
                                            [color]="'primary'"
                                            formControlName="status">
                                            <mat-radio-button
                                                class="mb-2"
                                                [value]="'1'">
                                                Activado
                                            </mat-radio-button>
                                            <mat-radio-button
                                                class="mb-2"
                                                [value]="'0'">
                                                Desactivado
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="flex justify-center gt-xs:justify-end m-4">
                                        <button class="px-8 m-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            (click)="goBack()">
                                            Volver
                                        </button>

                                        <button class="px-8 m-2"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [disabled]="groupForm.invalid"
                                                type="button"
                                                (click)="add()">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <!--<mat-step [stepControl]="privilegeForm" #horizontalStepperStep2>
                                <ng-template matStepLabel>Permisos</ng-template>
                                <p class="my-6 font-medium">
                                    Seleccione los permisos para el perfil
                                </p>

                                <form  [formGroup]="privilegeForm">
                                    
                                
                                </form>
                            
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            matStepperPrevious>
                                        Regresar
                                    </button>
                                    <button class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            type="button"
                                            matStepperNext>
                                        Siguiente
                                    </button>
                                </div>
                            </mat-step>

                            <mat-step>
                                <ng-template matStepLabel>Done</ng-template>
                                <p class="my-6 font-medium">
                                    Thank you for completing our form! You can reset the form if you would like to change your information.
                                </p>
                                <div class="flex justify-end mt-8">
                                    <button class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            matStepperPrevious>
                                        Back
                                    </button>
                                    <button class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            type="reset"
                                            (click)="horizontalStepper.reset();">
                                        Reset
                                    </button>
                                </div>
                            </mat-step>-->
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>