.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FBFDFE;
    z-index: 999999;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loading img {
    width: 120px;
    max-width: 120px;
}

.loading .spinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 56px;
}

.loading .spinner > div {
    width: 12px;
    height: 12px;
    background-color: #F50057;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: treo-bouncedelay 1s infinite ease-in-out both;
    animation: treo-bouncedelay 1s infinite ease-in-out both;
}

.loading .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes treo-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes treo-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

body:not(.treo-splash-screen-hidden) {
    overflow: hidden;
}

body.treo-splash-screen-hidden treo-splash-screen {
    visibility: hidden;
    opacity: 0;
}