<div class="content-layout fullwidth-basic-content-scroll">

    <img class="image"
         src="/assets/images/pages/errors/404.svg">

    <h1>Ooops... 404!</h1>
    <h6>The page you requested could not be found.</h6>

    <a class="link"
       [routerLink]="['/']">
        Back to Dashboard
    </a>

</div>
