<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Detalle</span>
            </div>
            <h1>Grupo</h1>
        </div>
        
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <form [formGroup]="groupForm" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">  
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Identificador</mat-label>
                                <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="slug" [placeholder]="'Nombre'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:key'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Creado en</mat-label>
                                <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="createdAt" [placeholder]="'Fecha creación'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'calendar_today'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Creado por</mat-label>
                                <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="createdBy" [placeholder]="'Creado por'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'person_add'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Nombre</mat-label>
                                <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="title" [placeholder]="'Nombre'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'bookmark'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Compañia</mat-label>
                                <mat-select [placeholder]="'Compañia'" formControlName="company">
                                    <mat-option [value]="com" *ngFor="let com of companies">{{ com.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="treo-mat-textarea flex-auto">
                                <mat-label>Descripción</mat-label>
                                <textarea
                                    matInput
                                    [placeholder]="'Descripcion'"
                                    formControlName="description"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col mt-8 gt-sm:mt-4">
                            <mat-label>Estado</mat-label>
                            <mat-radio-group
                                class="flex flex-col mt-2 mb-4"
                                [color]="'primary'"
                                formControlName="status">
                                <mat-radio-button
                                    class="mb-2"
                                    [value]="'1'">
                                    Activado
                                </mat-radio-button>
                                <mat-radio-button
                                    class="mb-2"
                                    [value]="'0'">
                                    Desactivado
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                    <div class="flex justify-center gt-xs:justify-end m-4">
                        <button class="px-8 m-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                (click)="goBack()">
                            Volver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>