<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <h1>Historial</h1>
        </div>
        
    </div>

    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>

    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="forms !== null">
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <treo-card *ngFor="let fr of forms"
                        class="flex flex-col mt-2 gt-sm:flex-row max-w-full gt-sm:max-w-full w-full filter-article">
                    
                        <div class="flex flex-col flex-auto mt-4 ml-4 mr-4 mb-4 gt-sm:m-6">
                            <a routerLink="/admin/survey-history/view/{{fr.form.slug}}">
                                <div class="text-2xl font-semibold leading-tight">{{fr.form.title}}</div>
                            </a>
                            <div class="flex align-middle font-medium text-md mt-1" *ngIf="fr.form.group !== null && fr.form.group !== ''">
                                <mat-icon matPrefix class="icon-size-14" [svgIcon]="'calendar_today'"></mat-icon> 
                                 <span class="text-secondary font-medium ml-1 text-xs">{{ formatDate(fr.confirmatedDate)}}</span>
                             </div>
                            <div class="text-secondary font-medium text-md mt-2">{{fr.form.description.substring(0, 120)}}...</div>
                            <mat-divider class="my-2"></mat-divider>
                            <div class="flex flex-row">

                                <div class="flex flex-auto align-middle font-medium text-md mt-1" *ngIf="fr.form.group !== null && fr.form.group !== ''">
                                    <div class="flex align-middle my-tip-success">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                        <span class="text-white font-medium ml-1">{{getGroup(fr.form.group)}}</span>
                                    </div>
                                </div>

                                <div class="flex flex-auto align-middle font-medium text-md mt-1" *ngIf="fr.form.ot !== null && fr.form.ot !== ''">
                                    <div class="flex align-middle my-tip-success">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                        <span class="text-white font-medium ml-1">{{fr.form.ot}}</span>
                                    </div>
                                </div>
                                <div class="flex flex-auto align-middle font-medium text-md mt-1 justify-end" *ngIf="fr.form.customer !== null && fr.form.customer !== ''">
                                    <div class="flex align-middle my-tip-success bg-warn">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon> 
                                        <span class="text-white font-medium ml-1 ">{{getCustomer(fr.form.customer)}}</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </treo-card>
                    <mat-paginator 
                    [length]="totalElements"
                    [pageIndex]="currentPage"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[25,50,100]" 
                    (page)="onPageFired($event)">
                </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>