<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <h1>Mis encuestas</h1>
        </div>
        
    </div>

    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>

    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="forms !== null">
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <treo-card *ngFor="let form of forms"
                        class="flex flex-col mt-2 gt-sm:flex-row max-w-full gt-sm:max-w-full w-full filter-article">
                        <!--Mobile-->
                        <div class="flex flex-col flex-auto mt-4 ml-4 mr-4 mb-4" *ngIf="screenType === 'xs'">                          
                            <a routerLink="/admin/my-surveys/view/{{form.slug}}">
                                <div class="text-2xl font-semibold leading-tight">{{form.title}}</div>
                            </a>
                            <div class="flex align-middle font-medium text-md mt-1" *ngIf="form.group !== null && form.group !== ''">
                                <mat-icon matPrefix class="icon-size-14" [svgIcon]="'calendar_today'"></mat-icon> 
                                 <span class="text-secondary font-medium ml-1 text-xs">{{ formatDate(form.publishAt)}}</span>
                             </div>
                             <div class="flex flex-row mt-2">
                                <div class="flex align-middle font-medium text-md" *ngIf="form.group !== null && form.group !== ''">
                                    <div class="flex align-middle my-tip-success">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                        <span class="text-white font-medium ml-1">{{getGroup(form.group)}}</span>
                                    </div>
                                </div>

                                <div class="flex align-middle font-medium text-md" *ngIf="form.ot !== null && form.ot !== ''">
                                    <div class="flex align-middle my-tip-success">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                        <span class="text-white font-medium ml-1">{{form.ot}}</span>
                                    </div>
                                </div>
                                <div class="flex align-middle font-medium text-md mx-2" *ngIf="form.customer !== null && form.customer !== ''">
                                    <div class="flex align-middle my-tip-success bg-warn">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon> 
                                        <span class="text-white font-medium ml-1 ">{{getCustomer(form.customer)}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-secondary font-medium text-md mt-4">{{form.description.substring(4, 120)}}...</div>
                            <mat-divider class="my-2"></mat-divider>
                            <div class="flex flex-row justify-end">
                                <button class="px-4"
                                    mat-flat-button
                                    color="accent"
                                    type="button"
                                    (click)="answer(form.slug)">
                                    <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                    Responder
                            </button>
                            </div>
                        </div>  
                        <!--Desktop-->
                        <div class="flex flex-row flex-auto m-6" *ngIf="screenType !== 'xs'">    
                            <div class="flex flex-col" style="width:50%">                      
                                <a routerLink="/admin/my-surveys/view/{{form.slug}}">
                                    <div class="text-2xl font-semibold leading-tight">{{form.title}}</div>
                                </a>
                                <div class="flex align-middle font-medium text-md">
                                    <mat-icon matPrefix class="icon-size-14" [svgIcon]="'calendar_today'"></mat-icon> 
                                    <span class="text-secondary font-medium ml-1 text-xs">{{ formatDate(form.publishAt)}}</span>
                                </div>
                                <div class="text-secondary font-medium text-md mt-1">{{form.description.substring(4, 120)}}...</div>
                            </div>
                            <div class="flex flex-row self-center justify-center" style="width:18%"> 
                                <div class="flex align-middle my-tip-success" *ngIf="form.group !== null && form.group !== ''">
                                    <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                    <span class="text-white font-medium ml-1">{{getGroup(form.group)}}</span>
                                </div>
                                <div class="flex align-middle my-tip-success" *ngIf="form.ot !== null && form.ot !== ''">
                                    <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-group'"></mat-icon> 
                                    <span class="text-white font-medium ml-1">{{form.ot}}</span>
                                </div>
                            </div>
                            <div class="flex flex-row self-center justify-center" style="width:17%"> 
                                    <div class="flex align-middle my-tip-success bg-warn"  *ngIf="form.customer !== null && form.customer !== ''">
                                        <mat-icon matPrefix class="icon-size-18 text-white" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon> 
                                        <span class="text-white font-medium ml-1 ">{{getCustomer(form.customer)}}</span>
                                    </div>
                            </div>
                            <div class="flex flex-row justify-end self-center" style="width:15%"> 
                                <button class="px-2"
                                        mat-flat-button
                                        color="accent"
                                        type="button"
                                        (click)="answer(form.slug)">
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        Responder
                                </button>
                            </div>
                        </div>  
                    </treo-card>
                    <mat-paginator 
                        [length]="totalElements"
                        [pageIndex]="currentPage"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[25,50,100]" 
                        (page)="onPageFired($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>