<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Agregar</span>
            </div>
            <h1>Privilegio</h1>
        </div>
        
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <div class="p-4 bg-card shadow rounded overflow-hidden">
                        <mat-horizontal-stepper [linear]="true"
                                                #horizontalStepper>
                            <mat-step [stepControl]="privilegeForm" #horizontalStepperStep1>

                                <ng-template matStepLabel>Información Privilegio</ng-template>
                                <form [formGroup]="privilegeForm">

                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-select [placeholder]="'Página'" formControlName="page" (selectionChange)="setTitle()">
                                                <mat-option value="Clientes">Clientes</mat-option>
                                                <mat-option value="Compañia">Compañia</mat-option>
                                                <mat-option value="Departamentos">Departamentos</mat-option>
                                                <mat-option value="Formularios">Formularios</mat-option>
                                                <mat-option value="Grupos">Grupos</mat-option>
                                                <mat-option value="Perfil">Perfil</mat-option>
                                                <mat-option value="Privilegio">Privilegio</mat-option>
                                                <mat-option value="Usuario">Usuario</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:newspaper'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-select [placeholder]="'Permiso'" formControlName="mode" (selectionChange)="setTitle()">
                                                <mat-option value="1">Lectura</mat-option>
                                                <mat-option value="2">Escritura</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="name" [placeholder]="'Nombre'" >
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="treo-mat-textarea flex-auto">
                                            <textarea
                                                matInput
                                                [placeholder]="'Descripcion'"
                                                formControlName="description"
                                                [rows]="3"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex justify-center gt-xs:justify-end m-4">
                                        <button class="px-8 m-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            (click)="goBack()">
                                            Volver
                                        </button>

                                        <button class="px-8 m-2"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [disabled]="privilegeForm.invalid"
                                                type="button"
                                                (click)="add()">
                                            Guardar
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>