<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- cardStyle can be 'classic', 'modern', 'modern-alt', 'fullscreen', 'fullscreen-alt' -->
    <treo-card class="auth-card"
              [ngClass]="cardStyle">

        <!-- Form container -->
        <div class="form-container bg-white">

            <div class="form">
                <!-- Title -->
                <div class="text-center title mt-1 xs:mt-16">{{'expired.name' | translate }}</div>
                <div class="text-center subtitle mt-3">
                    <div>{{'expired.subtitle' | translate }}<br> 
                        <span class="fw-900" *ngIf="countdown > 0">{{countdown | i18nPlural: countdownMapping }}</span>...
                    </div>
                </div>
            </div>

        </div>
        <div class="content-container">
            <app-welcome></app-welcome>
        </div>
    </treo-card>

</div>
