@import 'treo';

auth-expired {

    .content-layout {
        align-items: center;
        justify-content: center;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

}
