<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <h1>{{namePoll}}</h1>
        </div>
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
   
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <form [formGroup]="step1Form" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Fecha</mat-label>
                                <input  autocomplete="off" matInput formControlName="createdAt" [placeholder]="'Fecha creación'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'calendar_today'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Relación</mat-label>
                                <input  autocomplete="off" matInput formControlName="modeName" [placeholder]="'Dirigido'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'calendar_today'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3" *ngIf="step1Form.controls.mode.value === '1'">
                                <mat-label>Grupo</mat-label>
                                <mat-select [placeholder]="'Grupo'" formControlName="group" (selectionChange)="relation = true">
                                    <mat-option [value]="group.slug" *ngFor="let group of groups">{{ group.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3" *ngIf="step1Form.controls.mode.value === '2'">
                                <mat-label>Orden de Trabajo</mat-label>
                                <mat-select [placeholder]="'Orden de Trabajo'" formControlName="ot" (selectionChange)="relation = true">
                                    <mat-option value="OT01">OT #1</mat-option>
                                    <mat-option value="OT02">OT #2</mat-option>
                                    <mat-option value="OT03">OT #3</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                            </mat-form-field>
                        </div> 
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Estado</mat-label>
                                <mat-select [placeholder]="'Estado'" formControlName="status">
                                    <mat-option value="0">Creado</mat-option>
                                    <mat-option value="1">Aprobado</mat-option>
                                    <mat-option value="2">Suspendido</mat-option>
                                    <mat-option value="3">Eliminado</mat-option>

                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Vigencia</mat-label>
                                <input  autocomplete="off" matInput formControlName="vigency" [placeholder]="'Vigencha'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'calendar_today'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Fecha de Vigencia</mat-label>
                                <input  autocomplete="off" matInput formControlName="vigencyDate" [placeholder]="'Fecha de vigencia'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'calendar_today'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex" *ngIf="form.customer !== null && form.customer !== ''">
                            <mat-form-field class="flex-auto">
                                <mat-label>Cliente Empresa</mat-label>
                                <mat-select [placeholder]="'Cliente'" formControlName="customer">
                                    <mat-option [value]="customer.slug" *ngFor="let customer of customers">{{ customer.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="treo-mat-textarea flex-auto">
                                <mat-label>Descripción</mat-label>
                                <textarea
                                    matInput
                                    [placeholder]="'Descripcion'"
                                    formControlName="description"
                                    [rows]="5"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="flex flex-col px-4 p-4 bg-card mt-4 shadow rounded overflow-hidden" *ngIf="error">  
                        <div class="flex-row text-center">
                        <span class="font-bold">                         
                            <mat-icon class="text-red-700" svgIcon="heroicons_outline:location-marker"></mat-icon>
                            Debe compartir su ubicación para responder la encuesta</span>
                        </div>

                    </div>
                    <form [formGroup]="step2Form" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8" *ngIf="!error">  
                        <div class="flex-row" *ngFor="let ques of form.questions; let i = index">
                            <p class="text-lg font-medium m-4">{{ i + 1 }}) {{ ques.title }}</p>

                            <div class="flex-row ml-10" >
                                <mat-radio-group
                                    class="flex flex-col mt-2"
                                    [color]="'primary'"
                                    (change)="answerQuestion()"
                                    formControlName="question{{i}}">
                                    <mat-radio-button *ngFor="let alt of ques.alternatives; let j = index"
                                        class="mb-2"
                                        value="{{j}}">
                                        {{ alt }}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </form>
                    <div class="flex justify-center gt-xs:justify-end m-4">
                        <button class="px-8 mr-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            [disabled]="loadingSrv"
                            (click)="goBack()">
                            Volver
                        </button>
                        <button class="px-8"
                                mat-flat-button
                                [color]="'warn'"
                                type="button"
                                (click)="send()"
                                *ngIf="!error &&  ( this.mySurvey === null || this.mySurvey.status === 0)"
                                [disabled]="step2Form.invalid || loadingSrv || form.questions.length === 0">
                            <span *ngIf="!loadingSrv">Enviar</span>
                            <mat-progress-spinner *ngIf="loadingSrv"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>