<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <h1>Dashboard</h1>
        </div>
        
    </div>

    <div class="main">
        <div class="content">
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <div class="text-secondary tracking-tight">Bienvenido a la plataforma de captura y análisis de datos en la operación</div>
                </div>
            </div>
        </div>
    </div>
</div>