<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- cardStyle can be 'classic', 'modern', 'modern-alt', 'fullscreen', 'fullscreen-alt' -->
    <treo-card class="auth-card"
              [ngClass]="cardStyle">

        <!-- Form container -->
        <div class="form-container bg-white" [ngClass]="{'loadingSrv' : loadingSrv}">
            <div class="form">
                <!-- Title -->
                <div class="text-center title mt-1 xs:mt-16">{{'sign-in.name' | translate }}</div>
                <div class="text-center subtitle mt-3">
                    <span>{{'sign-in.subtitle' | translate }}</span>
                </div>

                <!-- Sign in form -->
                <form [formGroup]="loginForm">

                    <!-- Email field -->
                    <mat-form-field>
                        <mat-label>{{'sign-in.rut' | translate }}</mat-label>
                        <input id="rut"
                               matInput
                               placeholder="{{ 'tips.rut1' | translate}}"
                               autocomplete="new-password"
                               minlength="11" maxlength="12"
                               (blur)="onBlurRut()" (focus)="onFocusRut()"
                               [formControlName]="'rut'">
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field>
                        <mat-label>{{'sign-in.pass' | translate }}</mat-label>
                        <input id="password"
                               matInput
                               type="password"
                               placeholder="****"
                               minlength="4" maxlength="4"
                               [formControlName]="'password'"
                               autocomplete="new-password"
                               #passwordField>
                        <button mat-icon-button
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                tabindex="-1"
                                matSuffix>
                            <mat-icon *ngIf="passwordField.type === 'password'"
                                      [svgIcon]="'visibility'"></mat-icon>
                            <mat-icon *ngIf="passwordField.type === 'text'"
                                      [svgIcon]="'visibility_off'"></mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- Field footer -->
                    <div class="field-footer">
                        <a class="link" (click)="goToPage('activate-account')">Activar Cuenta</a>

                        <a class="link" (click)="goToPage('forgot-password')">Recuperar Clave</a>

                    </div>

                    <!-- Submit button -->
                    <button class="submit-button treo-mat-button-large"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="doLogin()" 
                            [disabled]="loginForm.invalid">
                        <span *ngIf="!loginForm.disabled">
                            {{'sign-in.enter' | translate }}
                        </span>
                        <mat-progress-spinner *ngIf="loginForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                    <div class="text-center mt-4">
                    </div>
                </form>

            </div>

        </div>

        <div class="content-container">
            <app-welcome></app-welcome>
        </div>
    </treo-card>

</div>
