<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Agregar</span>
            </div>
            <h1>Usuario</h1>
        </div>
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
   
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <div class="p-4 bg-card shadow rounded overflow-hidden">
                        <mat-horizontal-stepper [linear]="true" #stepper>
                            <mat-step [stepControl]="step1Form" #horizontalStepperStep1>

                                <ng-template matStepLabel>Usuario</ng-template>
                                <form [formGroup]="step1Form">

                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="name" [placeholder]="'Nombre'" >
                                            <mat-icon matPrefix
                                                    [svgIcon]="'account_circle'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="lastName" [placeholder]="'Apellido Paterno'">
                                            <mat-icon matPrefix
                                                    [svgIcon]="'account_circle'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="secondLastName" [placeholder]="'Apellido Materno'"> 
                                            <mat-icon matPrefix
                                                    [svgIcon]="'account_circle'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input matInput autocomplete="off" minlength="8" maxlength="12"
                                                formControlName="rut" [placeholder]="'Rut'"  
                                                (blur)="onBlurRut()" (focus)="onFocusRut()">
                                                
                                                <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input  autocomplete="off" minlength="10" maxlength="40" matInput 
                                                formControlName="email" [placeholder]="'Email'">
                                            <mat-icon matPrefix
                                                    [svgIcon]="'mail'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <input  autocomplete="off" minlength="12" maxlength="12" matInput 
                                                formControlName="phone" [placeholder]="'Celular'">
                                            <mat-icon matPrefix
                                                    [svgIcon]="'phone_android'"></mat-icon>
                                        </mat-form-field>
                                        
                                    </div>
                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-select [placeholder]="'Nacionalidad'" formControlName="nationality">
                                                <mat-option [value]="country.code" *ngFor="let country of countries">{{ country.name}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:globe-alt'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <input
                                                matInput
                                                formControlName="birthdate"
                                                [placeholder]="'Fecha de nacimiento'"
                                                [matDatepicker]="picker1">
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <mat-select [placeholder]="'Perfil'" formControlName="role">
                                                <mat-option [value]="role.slug" *ngFor="let role of roles">{{ role.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:shield-check'"></mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex justify-center gt-xs:justify-end m-4">
                                        <button class="px-8 m-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            [disabled]="loadingSrv"
                                            (click)="goBack()">
                                            Volver
                                        </button>

                                        <button class="px-8 m-2"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [disabled]="step1Form.invalid || loadingSrv"
                                                type="button"
                                                (click)="add()">
                                            <span *ngIf="!loadingSrv">Guardar</span>
                                            <mat-progress-spinner *ngIf="loadingSrv"
                                            [diameter]="24"
                                            [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="step2Form" #horizontalStepperStep2>
                                <ng-template matStepLabel>Laboral</ng-template>

                                <form  [formGroup]="step2Form">
                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-select [placeholder]="'Compañia'" formControlName="company">
                                                <mat-option [value]="com" *ngFor="let com of companies">{{ com.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                                        </mat-form-field>

                                        <mat-form-field class="flex-auto gt-xs:pr-3">
                                            <mat-select [placeholder]="'Departamento'" formControlName="department">
                                                <mat-option [value]="dep.slug" *ngFor="let dep of departments">{{ dep.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:share'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto gt-xs:pl-3">
                                            <mat-select [placeholder]="'Cargo'" formControlName="charge">
                                                <mat-option [value]="char.slug" *ngFor="let char of charges">{{ char.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:collection'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                
                                </form>
                            
                                <div class="flex justify-end">
                                    <button class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            [disabled]="loadingSrv"
                                            matStepperPrevious>
                                        Regresar
                                    </button>
                                    <button class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            type="button"
                                            [disabled]="step2Form.invalid || loadingSrv"
                                            (click)="update()">
                                        <span *ngIf="!loadingSrv">Guardar</span>
                                        <mat-progress-spinner *ngIf="loadingSrv"
                                        [diameter]="24"
                                        [mode]="'indeterminate'"></mat-progress-spinner>
                                    </button>
                                </div>
                            </mat-step>

                            <mat-step [stepControl]="step3Form" #horizontalStepperStep3>
                                <ng-template matStepLabel>Grupos</ng-template>
                                <form  [formGroup]="step3Form">
                                    <div class="flex" >
                                        <mat-form-field appearance="fill" class="flex-auto">
                                            <mat-select formControlName="group" multiple placeholder="Grupos">
                                            <mat-option *ngFor="let group of groups" [value]="group.slug">{{group.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                            [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="flex justify-end mt-8">
                                        <button class="px-8 mr-2"
                                                mat-flat-button
                                                [color]="'accent'"
                                                [disabled]="loadingSrv"
                                                type="button"
                                                (click)="goBack()">
                                            Omitir
                                        </button>
                                        <button class="px-8"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [disabled]="step3Form.invalid || loadingSrv"
                                                type="button"
                                                (click)="updateFinal()">
                                            <span *ngIf="!loadingSrv">Guardar</span>
                                            <mat-progress-spinner *ngIf="loadingSrv"
                                            [diameter]="24"
                                            [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>