<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- cardStyle can be 'classic', 'modern', 'modern-alt', 'fullscreen', 'fullscreen-alt' -->
    <treo-card class="auth-card"
              [ngClass]="cardStyle">

        <!-- Form container -->
        <div class="form-container bg-white" [ngClass]="{'loadingSrv' : loadingSrv}">

            <div class="form">
                <!-- Title -->
                <div class="title text-center mt-1 xs:mt-16">{{'forgot-pass.name' | translate }}</div>
                <div class="subtitle text-center mt-3">
                    <span>{{'forgot-pass.subtitle' | translate }}</span>
                </div>

                <!-- Sign in form -->
                <form [formGroup]="recoverForm">

                    <!-- Email field -->
                    <mat-form-field>
                        <mat-label>{{'sign-in.rut' | translate }}</mat-label>
                        <input id="rut"
                               matInput
                               placeholder="{{ 'tips.rut1' | translate}}"
                               autocomplete="new-password"
                               minlength="11" maxlength="12"
                               (blur)="onBlurRut()" (focus)="onFocusRut()"
                               [formControlName]="'rut'">
                    </mat-form-field>


                    <div class="field-footer">
                        <div class="remember-me">

                        </div>
                        <a class="link"
                        [routerLink]="['/sign-in']">{{'sign-in.name' | translate}}</a>
                    </div>


                    <!-- Submit button -->
                    <button class="submit-button treo-mat-button-large"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="forgetPassword()" 
                            [disabled]="recoverForm.invalid">
                        <span *ngIf="!loadingSrv">
                            {{'generic.recover' | translate }}
                        </span>
                        <mat-progress-spinner *ngIf="loadingSrv"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </div>

        <div class="content-container">
            <app-welcome></app-welcome>
        </div>
    </treo-card>

</div>
