<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Listar</span>
            </div>
            <h1>Departamento</h1>
        </div>
        
    </div>

    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>

    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="departments !== null">
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">

                    <treo-card *ngFor="let depa of departments"
                        class="flex flex-col mt-2 gt-sm:flex-row max-w-full gt-sm:max-w-full w-full filter-article">
                    
                        <div class="flex flex-col flex-auto mt-4 ml-4 mr-4 mb-4 gt-sm:m-6">
                            <a routerLink="/admin/org/department/view/{{depa.slug}}">
                                <div class="text-2xl font-semibold leading-tight">{{depa.title}}</div>
                            </a>
                            <div class="text-secondary font-medium text-md mt-1">{{depa.description}}</div>
                        </div>
                    </treo-card>
                </div>
            </div>
        </div>
    </div>
</div>