<div class="content-layout fullwidth-standard-normal-scroll">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">Listar</span>
            </div>
            <h1>Privilegio</h1>
        </div>
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" *ngIf="privileges !== null">
            <div class="animated-box" @zoomIn>    
                <div class="animated-box-content">
                    <div class="main-actions mb-4">

                        <!-- Search -->
                        <div class="search">

                        </div>

                        <!-- Add contact button -->
                        <button class="add-contact"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="add()">
                            <mat-icon [svgIcon]="'add'"></mat-icon>
                                Agregar
                        </button>

                    </div>
                    <treo-card *ngFor="let privilege of privileges" 
                        class="flex flex-col mt-2 gt-sm:flex-row max-w-full gt-sm:max-w-full w-full filter-article">
                        <div class="flex flex-col flex-auto mt-4 ml-4 mr-4 mb-0 gt-sm:m-6">
                            <a routerLink="/admin/users/privilege/view/{{privilege.slug}}">
                                <div class="text-2xl font-semibold leading-tight">{{privilege.page}}</div>
                            </a>
                            <div class="text-secondary font-medium text-md mt-1">{{privilege.canRead ? 'Lectura' : 'Escritura'}}</div>
                        </div>
                        <div class="flex flex-col flex-auto ml-2 mr-2 mb-1 gt-sm:m-6">
                            <mat-divider class="gt-xs:hidden xs:my-2"></mat-divider>
                            <div class="ml-auto">
                                <button (click)="edit(privilege.slug)"
                                    mat-icon-button>
                                    <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                </button>
                                <button (click)="remove(privilege.slug)"
                                    mat-icon-button>
                                    <mat-icon [svgIcon]="'heroicons_outline:trash'" ></mat-icon>
                                </button>
                            </div>
                        </div>
                    </treo-card>

                    <mat-paginator 
                        [length]="totalElements"
                        [pageIndex]="currentPage"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[25,50,100]" 
                        (page)="onPageFired($event)">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>