<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- cardStyle can be 'classic', 'modern', 'modern-alt', 'fullscreen', 'fullscreen-alt' -->
    <treo-card class="auth-card"
              [ngClass]="cardStyle">

        <!-- Form container -->
        <div class="form-container bg-white" [ngClass]="{'loadingSrv' : loadingSrv}">

            <div class="form" *ngIf="!changePassword">
                <!-- Title -->
                <div class="title text-center mt-1 xs:mt-16">Activar Cuenta</div>
                <div class="subtitle text-center mt-3">
                    <span>{{'forgot-pass.subtitle3' | translate }}</span>
                </div>
                <!-- Sign in form -->
                <form [formGroup]="recoverForm">

                    <!-- Email field -->
                    <mat-form-field>
                        <mat-label>{{'sign-in.rut' | translate }}</mat-label>
                        <input id="rut"
                               matInput
                               placeholder="{{ 'tips.rut1' | translate}}"
                               autocomplete="new-password"
                               minlength="11" maxlength="12"
                               (blur)="onBlurRut()" (focus)="onFocusRut()"
                               [formControlName]="'rut'">
                    </mat-form-field>


                    <div class="field-footer">
                        <div class="remember-me">

                        </div>
                        <a class="link"
                        [routerLink]="['/sign-in']">{{'sign-in.name' | translate}}</a>
                    </div>


                    <!-- Submit button -->
                    <button class="submit-button treo-mat-button-large"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="forgetPassword()" 
                            [disabled]="recoverForm.invalid">
                        <span *ngIf="!recoverForm.disabled">
                            Confirmar
                        </span>
                        <mat-progress-spinner *ngIf="recoverForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
            <div class="form" *ngIf="changePassword">
                <!-- Title -->
                <div class="title text-center mt-1">{{'forgot-pass.change' | translate }}</div>
                <div class="subtitle text-center mt-3">
                    <span>Para configurar su clave debe ser las siguiente</span>
                </div>

                <div class="subtitle mt-8"><mat-icon>chevron_right</mat-icon> <div class="flex-icon">{{'tips.pass1'  | translate}}</div></div>
                <div class="subtitle mt-1"><mat-icon>chevron_right</mat-icon> <div class="flex-icon">{{'tips.pass2'  | translate}}</div></div>
                <!-- Sign in form -->
                <form [formGroup]="registerForm">

                    <!-- Email field -->
                    <mat-form-field>
                        <mat-label>{{'sign-in.pass' | translate }}</mat-label>
                        <input id="newPassword"
                               matInput
                               type="password"
                               placeholder="****"
                               minlength="4" maxlength="4"
                               [formControlName]="'newPassword'"
                               autocomplete="new-password"
                               #passwordField1>
                        <button mat-icon-button
                                (click)="passwordField1.type === 'password' ? passwordField1.type = 'text' : passwordField1.type = 'password'"
                                tabindex="-1"
                                matSuffix>
                            <mat-icon *ngIf="passwordField1.type === 'password'"
                                      [svgIcon]="'visibility'"></mat-icon>
                            <mat-icon *ngIf="passwordField1.type === 'text'"
                                      [svgIcon]="'visibility_off'"></mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{'generic.confirm' | translate }} {{'sign-in.pass' | translate }}</mat-label>
                        <input id="confirmNewPassword"
                               matInput
                               type="password"
                               placeholder="****"
                               minlength="4" maxlength="4"
                               [formControlName]="'confirmNewPassword'"
                               autocomplete="new-password"
                               #passwordField2>
                        <button mat-icon-button
                                (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                                tabindex="-1"
                                matSuffix>
                            <mat-icon *ngIf="passwordField2.type === 'password'"
                                      [svgIcon]="'visibility'"></mat-icon>
                            <mat-icon *ngIf="passwordField2.type === 'text'"
                                      [svgIcon]="'visibility_off'"></mat-icon>
                        </button>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="submit-button treo-mat-button-large"
                            mat-flat-button
                            type="button"
                            [color]="'primary'"
                            (click)="setPassword()" 
                            [disabled]="registerForm.invalid" >
                        <span *ngIf="!registerForm.disabled">
                            Crear Clave
                        </span>
                        <mat-progress-spinner *ngIf="registerForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>

            </div>
        </div>

        <div class="content-container">
            <app-welcome></app-welcome>
        </div>
    </treo-card>

</div>
