<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Consultar</span>
            </div>
            <h1>Compañia</h1>
        </div>
        
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
   
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <form [formGroup]="orgForm" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">
                        <div class="flex flex-col gt-xs:flex-row">

                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    formControlName="name">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'business'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    formControlName="website">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'link'"></mat-icon>
                            </mat-form-field>
                            
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <input
                                    matInput
                                    formControlName="email">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'email'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <input
                                    matInput
                                    formControlName="phone">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'phone_android'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto ">
                                <input
                                    matInput
                                    formControlName="address">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'location_on'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="treo-mat-textarea flex-auto">
                                <textarea
                                    matInput
                                    formControlName="description"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                           
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>