<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Agregar</span>
            </div>
            <h1>Formulario</h1>
        </div>
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
   
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <div class="p-4 bg-card shadow rounded overflow-hidden">
                        <mat-horizontal-stepper [linear]="true" #stepper>
                            <mat-step [stepControl]="step1Form" #horizontalStepperStep1>

                                <ng-template matStepLabel>Formulario</ng-template>
                                <form [formGroup]="step1Form">
                                    <div class="flex flex-col gt-xs:flex-row">
                                        <mat-form-field class="flex-auto">
                                            <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="title" [placeholder]="'Nombre'" >
                                            <mat-icon matPrefix
                                                    [svgIcon]="'bookmark'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="flex-auto">
                                            <mat-select [placeholder]="'Cliente'" formControlName="customer">
                                                <mat-option [value]="customer.slug" *ngFor="let customer of customers">{{ customer.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-form-field class="treo-mat-textarea flex-auto">
                                            <textarea
                                                matInput
                                                [placeholder]="'Descripcion'"
                                                formControlName="description"
                                                [rows]="3"></textarea>
                                            <mat-icon
                                                class="icon-size-5"
                                                matPrefix
                                                [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <mat-label class="font-semibold">Tipo de relación</mat-label>
                                    </div>
                                    <div class="flex">
                                        <mat-radio-group class="flex-auto" [color]="'primary'" formControlName="mode">
                                            <mat-radio-button
                                                class="my-4"
                                                [value]="'1'">
                                                Grupo
                                            </mat-radio-button>
                                            <mat-radio-button
                                                class="my-4 mx-4"
                                                [value]="'2'">
                                                Orden de Trabajo
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="flex">
                                        
                                        <mat-form-field class="flex-auto" *ngIf="step1Form.controls.mode.value === '1'">
                                            <mat-select [placeholder]="'Grupo'" formControlName="group" (selectionChange)="relation = true">
                                                <mat-option [value]="group.slug" *ngFor="let group of groups">{{ group.title}}</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
                                        </mat-form-field>
                                        <mat-form-field class="flex-auto" *ngIf="step1Form.controls.mode.value === '2'">
                                            <mat-select [placeholder]="'Orden de Trabajo'" formControlName="ot" (selectionChange)="relation = true">
                                                <mat-option value="OT01">OT #1</mat-option>
                                                <mat-option value="OT02">OT #2</mat-option>
                                                <mat-option value="OT03">OT #3</mat-option>
                                            </mat-select>
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:calendar'"></mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <div class="flex justify-center gt-xs:justify-end m-4">
                                        <button class="px-8 m-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            [disabled]="loadingSrv"
                                            (click)="goBack()">
                                            Volver
                                        </button>

                                        <button class="px-8 m-2"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [disabled]="step1Form.invalid || !relation || loadingSrv"
                                                type="button"
                                                (click)="add()">
                                            <span *ngIf="!loadingSrv">Guardar</span>
                                            <mat-progress-spinner *ngIf="loadingSrv"
                                            [diameter]="24"
                                            [mode]="'indeterminate'"></mat-progress-spinner>
                                        </button>
                                    </div>
                                </form>
                            </mat-step>

                            <mat-step [stepControl]="step2Form" #horizontalStepperStep2>
                                <ng-template matStepLabel>Encuesta</ng-template>
                                <div class="flex">
                                    <p class="text-lg font-medium">Crear encuesta</p>
                                </div>
                                <div class="flex">
                                    <p class="text-secondary mb-4 gt-xs:mb-6">Agregue preguntas con sus respectivas alternativas</p>
                                </div>
                                <div class="flex flex-auto">
                                    <button class="px-8 mb-4"
                                        mat-flat-button
                                        [color]="'warn'"
                                        type="button"
                                        (click)="addQuestion()">
                                        <mat-icon matPrefix [svgIcon]="'add'"></mat-icon>    
                                        Agregar Pregunta
                                    </button>
                                </div>
   
                                <form  [formGroup]="step2Form">
                                    <div class="flex-row mt-2 gt-xs:mt-4" *ngFor="let ques of questionsList; let i = index">
                                        <mat-form-field class="flex-auto" style="width:85%">
                                            <input  autocomplete="off" minlength="3" maxlength="500" matInput formControlName="{{ 'question' + i }}" placeholder="Pregunta {{i + 1}}" >
                                            <mat-icon matPrefix
                                                    [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                        </mat-form-field>
                                        <button (click)="removeQuestion(i)" class="icon-setting"
                                            mat-icon-button>
                                            <mat-icon [svgIcon]="'heroicons_outline:trash'" ></mat-icon>
                                        </button>
                                        <div class="flex flex-auto ml-4 mb-2 gt-xs:ml-10 mb-4">
                                            <button class="px-8 mr-2"
                                                mat-flat-button
                                                [color]="'accent'"
                                                type="button"
                                                [disabled]="loadingSrv"
                                                (click)="addAlternative(i)">
                                                <mat-icon matPrefix [svgIcon]="'add'"></mat-icon>    
                                                Alternativa
                                            </button>
                                        </div>
                                        <div class="flex-row ml-4 gt-xs:ml-10" *ngFor="let alt of ques.alternatives; let j = index">
                                            <mat-form-field class="flex-auto" style="width:85%">
                                                <input  autocomplete="off" minlength="1" maxlength="500" matInput formControlName="{{ 'alternative' + '_' + i + '_' + j }}" placeholder="Respuesta {{j + 1}}" >
                                                <mat-icon matPrefix
                                                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                                            </mat-form-field>
                                            <button (click)="removeAlternative(i, j)" class="icon-setting"
                                                mat-icon-button>
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'" ></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                <div class="flex justify-end mt-8">
                                    <button class="px-8 mr-2"
                                            mat-flat-button
                                            [color]="'accent'"
                                            type="button"
                                            [disabled]="loadingSrv"
                                            (click)="goBack()">
                                        Omitir
                                    </button>
                                    <button class="px-8"
                                            mat-flat-button
                                            [color]="'primary'"
                                            type="button"
                                            (click)="saveQuestions()"
                                            [disabled]="step2Form.invalid || questionsList.length === 0 || loadingSrv">
                                        <span *ngIf="!loadingSrv">Guardar</span>
                                        <mat-progress-spinner *ngIf="loadingSrv"
                                        [diameter]="24"
                                        [mode]="'indeterminate'"></mat-progress-spinner>
                                    </button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>