// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------
@import 'treo';

@include treo-theme {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .bg-primary{
        background-color:map-get($primary, default) !important;
    }
    .bg-accent{
        background-color:map-get($accent, default) !important;
    }
    .bg-warn{
        background-color:map-get($warn, default) !important;
    }
    $success: #237d27;
    .mat-snack-bar-container{
        color:#ffffff;
        font-weight: 500;
        font-size: 13px;
        min-width: 225px !important;
        max-width:500px;
    }
    .mat-snack-bar-container.success {
        background: $success;
        text-align: justify;
    }
    .mat-snack-bar-container.default {
        background: #323232 !important;
        text-align: justify;
    }

    .mat-snack-bar-container.error {
        background: mat-color($warn);
        text-align: justify;
    }
    .custom-success-center {
        background: $success;
        text-align: center !important;
    }
    .custom-error-center {
        background: mat-color($warn);
        text-align: center !important;
    }
    .mat-simple-snackbar-action button{
        color: #e7e7e7 !important
    }

    .swiper-pagination{
        cursor:pointer;
    }
    .swiper-pagination-bullet{
        background-color: #FFF;
    }
    .swiper-pagination-bullet-active{
        width: 12px;
        height: 12px;
        vertical-align: -2px;
    }
    .flex-icon{
        display: flex;
        align-self: center;
    }
    .loadingSrv {
        pointer-events: none;
        opacity: 0.7;
        cursor: progress;
    }
    .logo-web{
        width:125px;
    }
    .mt-1{
        margin: 10px 0 0 0 !important;
    }
    .mt-2{
        margin: 20px 0 0 0 !important;
    }
    .fw-900{
        font-weight: bold;
    }
    .showLoading{
        padding:100px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .icon-setting{
        bottom: 10px;
    }
    .main-actions {
        display: flex;
        align-items: center;
        margin-left: auto;

        @include treo-breakpoint('xs') {
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }

        .search {
            flex: 1 1 auto;
            margin-right: 16px;
            min-width: 200px;
            width: 100%;

            @include treo-breakpoint('xs') {
                min-width: 0;
            }

            .mat-form-field {
                width: 100%;
            }
        }

        .add-contact {
            flex: 1 0 auto;
            padding: 0 20px 0 16px;

            .mat-icon {
                margin-right: 8px;
                @include treo-icon-size(20);
            }
        }
    }

    .mat-horizontal-content-container{
        padding: 0px 24px 0px 24px !important;
    }
    .my-tip-success{
        padding: 4px 10px;
        border-radius: 4px;
        background-color: green;
        width: fit-content;
    }
    .my-tip-red{
        padding:8px;
        border-radius: 8px;
        background-color: rgb(165, 20, 20);
        font-size:12px;
        width: fit-content;
    }

    .problem-dialog{
        .mat-dialog-container{
            height:500px;
            overflow: visible !important;
            .close-btn-outer{
                position: relative;
                button{
                    position: absolute;
                    right: -44px;
                    top: -44px;
                }
            }
            .swiper-slide{
                text-align: center;
                img{
                    max-width: 100%;
                }
            }        
        }
    }

    @media (max-width: 575px) {
        .problem-dialog{
            .mat-dialog-container{
                max-width:90vw;
                padding:10px;
                .close-btn-outer{
                    button{
                        right: -22px;
                        top: -30px;
                    }
                }
            }
        }
        .mat-horizontal-content-container {
                padding:0 !important;
        }
    }
}