<div class="content-layout fullwidth-standard-normal-scroll" >

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">Editar</span>
            </div>
            <h1>Usuario</h1>

        </div>

    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
          <mat-progress-spinner
              [diameter]="60"
              [mode]="'indeterminate'">
          </mat-progress-spinner>
          <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content">
            <div class="animated-box"
                @zoomIn>
                <div class="animated-box-content">
                    <form [formGroup]="step1Form" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">  
                        <p class="text-lg font-medium">Informacion Usuario</p>
                        <p class="text-secondary mb-6"> Administre la información personal del usuario</p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="name"
    
                                        [placeholder]="'First name'">
                                <mat-icon matPrefix
                                            [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput formControlName="lastName"
    
                                        [placeholder]="'First name'">
                                <mat-icon matPrefix
                                            [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput formControlName="secondLastName"
                                        [placeholder]="'Last name'">
                                <mat-icon matPrefix
                                            [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Rut</mat-label>
                                <input matInput formControlName="rut"
                                    (blur)="onBlurRut()" (focus)="onFocusRut()"
                                        [placeholder]="'First name'">
                                <mat-icon matPrefix
                                            [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Email</mat-label>
                                <input matInput
                                        [placeholder]="'Email Address'"
                                        formControlName="email"
                                        >
                                <mat-icon matPrefix
                                            [svgIcon]="'mail'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Celular</mat-label>
                                <input  autocomplete="off" minlength="12" maxlength="12" matInput 
                                    formControlName="phone" [placeholder]="'Celular'">
                                <mat-icon matPrefix
                                        [svgIcon]="'phone_android'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Nacionalidad</mat-label>
                                <mat-select [placeholder]="'Nacionalidad'" formControlName="nationality">
                                    <mat-option [value]="country.code" *ngFor="let country of countries">{{ country.name}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:globe-alt'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input
                                    matInput
                                    formControlName="birthdate"
                                    [placeholder]="'Fecha de nacimiento'"
                                    [matDatepicker]="picker1">
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Perfil</mat-label>
                                <mat-select [placeholder]="'Perfil'" formControlName="role">
                                    <mat-option [value]="role.slug" *ngFor="let role of roles">{{ role.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:shield-check'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <form [formGroup]="step2Form" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">  
                        <p class="text-lg font-medium">Informacion Laboral</p>
                        <p class="text-secondary mb-6"> Gestión de información laboral del usuario.</p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Compañia</mat-label>
                                <mat-select [placeholder]="'Compañia'" formControlName="company">
                                    <mat-option [value]="com" *ngFor="let com of companies">{{ com.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:office-building'"></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Departamento</mat-label>
                                <mat-select [placeholder]="'Departamento'" formControlName="department">
                                    <mat-option [value]="dep.slug" *ngFor="let dep of departments">{{ dep.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:share'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Cargo</mat-label>
                                <mat-select [placeholder]="'Cargo'" formControlName="charge">
                                    <mat-option [value]="char.slug" *ngFor="let char of charges">{{ char.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:collection'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <form [formGroup]="step3Form" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">  
                        <p class="text-lg font-medium">Grupos</p>
                        <p class="text-secondary mb-6"> Administre los grupos a los cuales pertenece el usuario.</p>
                        <div class="flex" >
                            <mat-form-field appearance="fill" class="flex-auto">
                                <mat-label>Grupos</mat-label>
                                <mat-select formControlName="group" multiple placeholder="Grupos">
                                <mat-option *ngFor="let group of groups" [value]="group.slug">{{group.title}}</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                [svgIcon]="'heroicons_outline:user-group'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <form [formGroup]="statusForm" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">  
                        <p class="text-lg font-medium">Estado de la cuenta</p>
                        <p class="text-secondary mb-6"> Modificación del estado de la cuenta.</p>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select [placeholder]="'Estado'" formControlName="status">
                                    <mat-option value="0">Pendiente Activación</mat-option>
                                    <mat-option value="1">Activada</mat-option>
                                    <mat-option value="2">Bloqueada</mat-option>
                                    <mat-option value="3">Desactivada</mat-option>

                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>

                    <div class="flex justify-center gt-xs:justify-end m-4">
                        <button class="px-8 m-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            (click)="goBack()">
                            Volver
                        </button>

                        <button class="px-8 m-2"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="step1Form.invalid"
                                type="button"
                                (click)="add()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>