<div class="content-layout fullwidth-standard-normal-scroll">
    <div class="header">
        <div class="container">
            <div class="breadcrumb">
                <span class="path">Editar</span>
            </div>
            <h1>Privilegio</h1>
        </div>
        
    </div>
    <div class="flex flex-col flex-auto"  *ngIf="loading"> 
        <div class="showLoading">
        <mat-progress-spinner
            [diameter]="60"
            [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div class="mt-2 font-medium">Procesando...</div>
        </div>
    </div>
    <div class="main" *ngIf="!loading">
        <div class="content" >
            <div class="animated-box" @zoomIn>
                <div class="animated-box-content">
                    <form [formGroup]="privilegeForm" class="flex flex-col bg-card shadow rounded overflow-hidden mt-2 py-4 px-4 gt-sm:px-8 gt-sm:py-8">

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Página</mat-label>
                                <mat-select [placeholder]="'Página'" formControlName="page" (selectionChange)="setTitle()">
                                    <mat-option value="Clientes">Clientes</mat-option>
                                    <mat-option value="Compañia">Compañia</mat-option>
                                    <mat-option value="Departamentos">Departamentos</mat-option>
                                    <mat-option value="Formularios">Formularios</mat-option>
                                    <mat-option value="Grupos">Grupos</mat-option>
                                    <mat-option value="Perfil">Perfil</mat-option>
                                    <mat-option value="Privilegio">Privilegio</mat-option>
                                    <mat-option value="Usuario">Usuario</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:newspaper'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Permiso</mat-label>
                                <mat-select [placeholder]="'Permiso'" formControlName="mode" (selectionChange)="setTitle()">
                                    <mat-option value="1">Lectura</mat-option>
                                    <mat-option value="2">Escritura</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-label>Nombre</mat-label>
                                <input  autocomplete="off" minlength="3" maxlength="40" matInput formControlName="name" [placeholder]="'Nombre'" >
                                <mat-icon matPrefix
                                        [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="treo-mat-textarea flex-auto">
                                <mat-label>Descripción</mat-label>
                                <textarea
                                    matInput
                                    [placeholder]="'Descripcion'"
                                    formControlName="description"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="flex justify-center gt-xs:justify-end m-4">
                        <button class="px-8 m-2"
                            mat-flat-button
                            [color]="'accent'"
                            type="button"
                            (click)="goBack()">
                            Volver
                        </button>

                        <button class="px-8 m-2"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="privilegeForm.invalid"
                                type="button"
                                (click)="add()">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>